.single {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.single h3 {
  margin: 0 0 0.25rem 0;
  color: #217052;
  text-decoration: underline;
  cursor: pointer;
}

.description {
  font-style: italic;
}
